---
---


@import "colours";
  
@media screen and (max-width: 480px) {
    body {
        max-width:95%;
        font-size:80%;
    }
}

@media screen and (min-width: 480px) {
    body {
        max-width:80%;
    }
}


@media screen and (min-width: 960px) {
    body {
        max-width:70%;
    }
}

body {
    font-family: 'Lato', Helvetica, Arial, Sans-Serif;
    margin-left:auto;
    margin-right:auto;
}

* a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:focus {
        outline: none;
    }
}

code {
    font-size: 110%;
}

h1, h2, h3, h4 {
    font-weight:lighter;
}

ul {
    padding-left: 1em;
}

ol {
    padding-left: 1em;
    li {
        padding-left: 0.5em;
        ol li {
            list-style-type: lower-alpha;
        }
    }
}

.classplan {
    table {
        text-align: left;
        border-collapse: collapse;
        th, td {
            padding: 0.5em;
            border-top: 0.1em solid;
            border-bottom: 0.1em solid;
        }
        // tbody > tr:nth-child(odd) {
        //     background: $bg-faded;
        // }
    }
}

.bibliography {
    table {
        text-align: left;
        border-collapse: collapse;
        th, td {
            padding: 0.5em;
        }
          // tbody > tr:nth-child(odd) {
          //   background: $bg-faded;
          // }
        td:last-child {
            @extend %small;
        }

    }
}

.infotable {
    table {
        padding-top: 0.5em;
        //background: $bg-faded;
        border-collapse:collapse;
        th, td {
            padding:0.1em 0.5em;
        }
        td:first-child {
            font-weight: bold;
            text-align: right;
        }
    }
}

%small {
  font-size: 80%;
}

  
  
// %faded-small {
//   color: $fg-faded;
//   font-size: 80%;
//   border-color: $fg-faded;
//   a {
//     color: $link-faded;
    
//   }
// }

.footer {
    @extend %small;
    border-top: 0.1em solid;
    margin-top:2em;
    padding-top:0.3em;
}

.navigation {
    @extend %small;
    text-align:right;
    border-bottom: 0.1em solid;
    padding:0em;
    li {
        display:inline;
        list-style-type:none;
        margin:0em;
        padding-left:1em;
        text-align:left;
    }
}

#mypicture {
    float:right;
    clear:both;
    width:15em;
    margin-bottom: 1%;
    margin-left: 1%;
    // border: solid 0.1em $fg-faded;
    @media screen and (min-width: 960px) {
        width: 20em;
    }
    @media screen and (max-width: 480px) {
        float: none;
        clear: none;
        margin-left: 0;
    }
}

.clearfix{
    float: none;
    clear: both;
}


// Theme imported from _colours.scss.
@include solarized-light;


// Print stylesheet
@media print {
    .button, .footer, .navigation {display:none;}
    width: 100%;
    margin: 0px;
    padding: 0px;
    a:after {
        content: " ("attr(href)")"
    }
    @include print;
}
