---
---


@import "colours";
  
@media screen and (max-width: 480px) {
    body {
        max-width:95%;
        font-size:80%;
    }
}

@media screen and (min-width: 480px) {
    body {
        max-width:80%;
    }
}

@media screen and (min-width: 550px) {
    body {
        header {
        flex-direction: row;
        }
    }
}

@media screen and (min-width: 960px) {
    body {
        max-width:70%;
    }
}

body {
    font-family: 'Lato', Helvetica, Arial, Sans-Serif;
    margin-top: 0em;
    margin-left:auto;
    margin-right:auto;
}

* a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:focus {
        outline: none;
    }
}

code {
    font-size: 110%;
}

h1, h2, h3, h4 {
    font-weight:lighter;
}

ul {
    padding-left: 1em;
}

ol {
    padding-left: 1em;
    li {
        padding-left: 0.5em;
        ol li {
            list-style-type: lower-alpha;
        }
    }
}

.classplan {
    table {
        text-align: left;
        border-collapse: collapse;
        th, td {
            padding: 0.5em;
            border-top: 0.1em solid;
            border-bottom: 0.1em solid;
        }
    }
}

.bibliography {
    table {
        text-align: left;
        border-collapse: collapse;
        th, td {
            padding: 0.5em;
        }
        td:last-child {
            @extend %small;
        }

    }
}

.infotable {
    table {
        padding-top: 0.5em;
        border-collapse:collapse;
        th, td {
            padding:0.1em 0.5em;
        }
        td:first-child {
            font-weight: bold;
            text-align: right;
        }
    }
}

%small {
  font-size: 80%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-top:0em;
    margin-bottom: 2em;
    padding-top: 0.5em;
    border-top: solid 0.5em;

    h1 {
        text-align: center;
        margin: 0em;
    }
}

nav {
    ul {
        padding-left: 0em;
        margin: 0.5em 0em;
    }
    li {
        display: inline;
        list-style-type:none;
        margin:0em;
        padding-left:0.5em;
        padding-right:0.5em;
        text-align:left;
    }
}

footer {
    @extend %faded;
    @extend %small;
    border-top: 0.1em solid;
    margin-top:2em;
    padding-top:0.3em;
}


#mypicture {
    float:right;
    clear:both;
    width:15em;
    margin-bottom: 1%;
    margin-left: 1%;
    border: solid 0.1em;
    @media screen and (min-width: 960px) {
        width: 20em;
    }
    @media screen and (max-width: 480px) {
        float: none;
        clear: none;
        margin-left: 0;
    }
}

.clearfix{
    float: none;
    clear: both;
}


// Theme imported from _colours.scss.
@include solarized-light;


// Print stylesheet
@media print {
    .button, .footer, .navigation {display:none;}
    width: 100%;
    margin: 0px;
    padding: 0px;
    a:after {
        content: " ("attr(href)")"
    }
    @include print;
}
