* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    width: 60em;
    margin: auto;
    font-family: Georgia, serif;
}

h1 {
	padding: 1em;
	text-align: center;
	font-weight: normal;
}

h3 {
	font-weight: normal;
	padding-top: 2em;
	border-bottom: 0.05em solid black;
	margin-bottom: 1em;
}

h4 {
	margin-bottom: 0.5em;
}

ul {
	margin: 0.5em 0;
	list-style-position: outside;
}

li {
	margin-left: 2em;
}

.description {
	width: 8em;
	background-color: #F2836B;
	border-radius: 0.5em;
	padding: 0.5em;
	float: left;
	margin-bottom:1em;
}

.talk {
	margin-left: 10em;
	margin-bottom:1em;
	padding:0.5em;
	background-color: #F2E1AC;
	border-radius: 0.5em;
}
