<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% if page.title!="Home" %} {{ page.title }} | {% endif %}Asilata Bapat</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script type="text/javascript"
	    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,400i,700,700i' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Neuton:400,700" rel="stylesheet">
    <link rel="icon" href="http://www.uchicago.edu/favicon.ico"/>
</head>
